body{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: white;
}
.nav-link{
    color:aliceblue ;
}

a:hover {
    color: lightcoral;
  } 
a:active {
    color: lightblue;
  }
 
h3{
    text-align: left;
}

.login-box {
  padding: 5px;
  border: 1px solid #000;
  width: 95%;
  height: 50px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 13px;
}

.box {
  position: relative;
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  width: 95%;
  height: 500px;
  text-align: center;
  margin: auto;
}

.search-box {
  position: relative;
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  width: 95%;
  height: 85px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.searchresult-box{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #000;
  width: 50px;
  height: 100px;
  text-align: center;
  margin: 10px;
  }

  .result {
    position: relative;
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    width: 95%;
    height: 50px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.table-dark {
  border: 1px solid;
  color: #fff;
  background-color: #212529;
  margin: auto;
  width: 95%;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-color: #32383e;
  text-align: center;
}

.table-bordered{
  border: 1px solid;
  width: 40%;
  margin-bottom: 1rem;
  background-color: transparent;
  margin: auto;
}

.btn-outline-info{
  width: 70px;
  margin-left: 90%;
}

.candidate{
  padding: 45px;
  border: 1px solid black;
  width: 19%;
  height: 335px;
  margin: auto;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.employer {
  padding: 45px;
  border: 1px solid black;
  width: 19%;
  height: 335px;
  margin: auto;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.error{
  color: red;
}

.footer{
  margin-top: 20px;
}

p.message{
  color: red;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.contact-background{
  background-image: url('images/contact.jpg');
}


